# --- Database & Docker ---
mssql-data/
sql-data/
*.mdf
*.ldf

# --- Angular (Cập nhật từ nội dung bạn gửi) ---
**/node_modules/
**/dist/
**/tmp/
**/out-tsc/
**/.angular/cache/
*.log

# --- Java / Spring Boot ---
**/target/
**/.mvn/
*.jar

# --- Python ---
**/__pycache__/
**/.venv/

# --- IDEs (Chặn triệt để .vscode của cả dự án) ---
.vscode/
.idea/
.DS_Store